.header {
  display: flex;
  justify-content: space-evenly;
  background: $lightblue;
  position: relative;
  &__year {
    padding: 1rem;
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
  }
  .before {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-top: solid 2px white;
    border-left: solid 2px white;
    background: transparent;
    transform: rotate(-45deg);
    cursor: pointer;
  }
 .after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-top: solid 2px white;
    border-right: solid 2px white;
    background: transparent;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .bold-header {
    color: black;
    font-weight: 700;
    text-decoration: underline;
  }
}


