@import "header";
@import "body";
@import "calendar-container";

html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  max-width: 95rem;
  box-sizing: border-box;
  height: 70rem;
  border: solid 1px black;
  margin: 0 auto;
}
