@import "colors";
@import "header";
@import "body";
@import "calendar-container";
@import "modal";
@import "tooltip";

html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  .large-list {
    height: 300px;
  }
}

.App {
  max-width: 95rem;
  width: 780px;
  box-sizing: border-box;
  height: 72rem;
  border: solid 1px black;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

a:active {
  box-shadow: none;
}
